<h1>Products</h1>

<ul>
  <% @products.each do |single_product| %>
  <li><%= link_to single_product.name, product_path(single_product) %> | $<%= single_product.cost %></li>
  <% end %>
</ul>

<p><%= link_to "Add New Product", new_product_path%></p>
